@import "../base/fonts";

div.landing-outer__container {
  div.landing-header__outer-container {
    background-color: #333333;
    background-image: url("/boardroom-background.png");
    background-size: cover;
    position: relative;

    height: 600px; /* TEST */
    background-position: center;

    .landing-header__title-container {
      font-family: $Varela;
      color: white;
      font-size: 1.8rem;
      padding: 1.5rem 8vw;
      display: flex;
      align-items: center;
      text-shadow: 1px 1px 3px black;

      img {
        margin-right: 1rem;
      }
    }

    div.landing-header__text-form__container {
      display: flex;
      padding: 3vh 8vw;
      align-items: center;
      justify-content: space-between;

      div.landing-header__text-container {
        color: white;
        font-family: $Cabin;
        width: 42%;
        z-index: 1;
        text-shadow: 1px 1px 3px black;
        order: 1;
        font-weight: 700;
        padding-bottom: 3rem;

        h1 {
          font-size: 2.5rem;
          letter-spacing: 0.1rem;
        }

        h5 {
          padding: 4vh 0;
          font-size: 1.4rem;
        }

        p {
          font-size: 1.2rem;
          color: #9aa8e2;
        }
      }

      form.landing-header__form-container {
        background-color: white;
        width: 30%;
        display: flex;
        flex-direction: column;
        min-height: 15rem;
        max-width: 23rem;
        padding-bottom: 2rem;
        justify-content: space-between;
        margin-right: 5vw;
        z-index: 1;
        box-shadow: 2px 2px 7px -2px black;

        div.landing-header__form-top-border-line {
          height: 4px;
          background: #8bccef;
        }

        h1 {
          text-align: center;
          font-size: 1.3rem;
          font-family: $Cabin;
          padding: 1.5rem 1rem 1rem 1rem;
        }

        div.landing-header__form-name-container {
          display: flex;
          justify-content: center;

          input {
            height: 2rem;
            border: 1px solid #d2cece;
            border-radius: 2px;
            padding-left: 0.9rem;
            font-size: 0.9rem;
            width:32%;
            margin: 0.4rem;
          }
        }

        input {
          margin-left: auto;
          margin-right: auto;
          margin-top: 0.7rem;
          margin-bottom: 1.5rem;
          display: block;
          border: 1px solid #d2cece;
          border-radius: 2px;
          height: 2rem;
          font-size: 0.9rem;
          width: 72.5%;
          padding-left: 0.9rem;
        }

        button {
          background-color: #5d6eb5;
          width: 68%;
          margin-left: auto;
          margin-right: auto;
          height: 2.5rem;
          border-radius: 20px;
          color: white;
          font-size: 1.1rem;
          cursor: pointer;
          font-weight: 500;
          transition: background-color 0.2s;
          border: 0;
        }

        button:hover {
          background-color: #8e9bd2;
        }
      }
    }

    svg {
      position: absolute;
      width: 100%;
      height: 100vw;
      bottom: -13rem;
      overflow: hidden;
      transform: scaleY(-1);
      left: 0;
    }
  }

  div.landing-info__container {
    position: relative;
    color: #313a63;
    text-align: center;

    div.landing-info__text-container {
      font-family: $Cabin;

      h2 {
        font-size: 2rem;
        padding: 2rem;
      }

      p {
        font-size: 1.4rem;
      }
    }

    div.landing-info__outer-box-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      div.landing-info__box-container {
        max-width: 23rem;
        margin: 2rem 2rem;
        font-family: $Cabin;

        img {
          padding: 2.3rem;
        }

        h5 {
          font-size: 1.4rem;
          padding-bottom: 1.5rem;
        }

        p {
          color: #1a1f31;
          font-size: 1.1rem;
          line-height: 1.5rem;
        }
      }
    }

    button {
      background-color: white;
      width: 16rem;
      margin-left: auto;
      margin-right: auto;
      height: 2.5rem;
      border-radius: 20px;
      color: #313a62;
      font-size: 1.1rem;
      cursor: pointer;
      font-weight: 500;
      border: 2px solid #313a62;
      transition: all 0.2s;
      margin: 1rem 0rem 2rem 0rem;
    }

    button:hover {
      border: 2px solid #5364a3;
      color: #5364a3;
    }
  }

  
}

@media only screen and (max-width: 1480px) { // TEMP Media query for curved shape header
  div.landing-outer__container {
    div.landing-header__outer-container {
      svg {
        bottom: -8rem;
      }
    }
  }
}
