@import "../base/fonts";

.Signup {
  display: flex;
  background: #333333;

  img {
    width: 50%;
    height: calc(100vh - 48px);
    object-fit: cover;
  }

  form {
    color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    text-align: left;

    h4 {
      font-weight: 600;
      font-size: 2.5vw;
    }

    input[type=text], input[type=password] {
      background-color: rgb(104, 91, 91);
      border: 3px solid black;
      border-radius: 30px;
      height: 7vh;
      width: 28vw;
      padding-left: 20px;
      font-size: 1.4vw;
      color: white;
      margin-right: 3rem;
      outline: none;
    }

    input[type=submit] {
      background-color: black;
      color: rgb(104, 91, 91);
      width: 30%;
      height: 5.5vh;
      align-self: flex-end;
      border-radius: 30px;
      border: 0;
      outline: none;
      font-size: 1.2vw;
      transition: background-color 0.2s;
    }

    input[type=submit]:hover {
      background-color: rgb(19, 19, 19);
    }
  }
}
  